.homepage-hero-module {
  height: 700px !important;
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 700px;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%; }
  .video-container .filter .title {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    line-height: 700px;
    color: #f5f3f5;
    font-size: 50px; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }
