.featuredWrapper {
  margin-top: 35px;
  padding-top: 35px;
  border-top: 3px solid #f5f3f5; }
  .featuredWrapper .col-12 {
    padding-bottom: 30px; }
  .featuredWrapper h5 {
    position: absolute;
    bottom: 100px;
    left: 0px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #247ba0; }
