@import 'palette';

.featuredWrapper {
  margin-top: 35px;
  padding-top: 35px;
  border-top: 3px solid $text-light;
  .col-12 {
    padding-bottom: 30px;
  }
  h5 {
    position: absolute;
    bottom: 100px;
    left: 0px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: $color1;
  }
}