@import 'palette';

.summaryCenteredWrapper {
  padding-top: 100px;
  .title {
    color: $text-dark;
  }
  .summary {
    color: $text-dark;
    font-size: 16px;
    padding-top: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}