.summaryCenteredWrapper {
  padding-top: 100px; }
  .summaryCenteredWrapper .title {
    color: #555668; }
  .summaryCenteredWrapper .summary {
    color: #555668;
    font-size: 16px;
    padding-top: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }
