@import "palette";

.navbar-brand {
  height: 145px;
  margin: 70px 0px 0px 0px;
  padding-top: 2.5px;
  z-index: 2;
  img {
    height: 145px;
  }
}
.navbar {
  height: 75px;
  z-index: 2;
}
.navbar-custom {
  background: rgba($color: $color2, $alpha: 0.7);
  .navbar-toggler {
    border: 2px solid $color5;
  }
  .navbar-collapse.show, .navbar-collapse.collapsing {
    z-index: 999;
    position: absolute;
    width: 50%;
    right: 0px;
    text-align: right;
    top: 75px;
    background-color: rgba($color: $color2, $alpha: 0.8);
    border-bottom-left-radius: 15px;
    ul {
      li {
        a {
          padding-right: 30px;
        }
      }
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 22, 84, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-nav .nav-link {
    color: white;
  }
  .dropdown-item {
    color: black;
    &:hover {
      background-color: rgba($color: $color2, $alpha: 0.7);
      color: black;
    }
  }
}