.navbar-brand {
  height: 145px;
  margin: 70px 0px 0px 0px;
  padding-top: 2.5px;
  z-index: 2; }
  .navbar-brand img {
    height: 145px; }

.navbar {
  height: 75px;
  z-index: 2; }

.navbar-custom {
  background: rgba(112, 193, 179, 0.7); }
  .navbar-custom .navbar-toggler {
    border: 2px solid #ff1654; }
  .navbar-custom .navbar-collapse.show, .navbar-custom .navbar-collapse.collapsing {
    z-index: 999;
    position: absolute;
    width: 50%;
    right: 0px;
    text-align: right;
    top: 75px;
    background-color: rgba(112, 193, 179, 0.8);
    border-bottom-left-radius: 15px; }
    .navbar-custom .navbar-collapse.show ul li a, .navbar-custom .navbar-collapse.collapsing ul li a {
      padding-right: 30px; }
  .navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 22, 84, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .navbar-custom .navbar-nav .nav-link {
    color: white; }
  .navbar-custom .dropdown-item {
    color: black; }
    .navbar-custom .dropdown-item:hover {
      background-color: rgba(112, 193, 179, 0.7);
      color: black; }
